
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<span class="logo-pic">
							<img src="./img/main/logo.svg" alt="">
						</span>
						<span class="logo-title">Гарантия самых лучших цен!</span>
					</a>
				</div>
				<div class="phone-outer-wrap">
					<div class="phone-wrap">
						<a href="tel:88007076938" class="phone-number">8 800 707-69-38 </a>
						<div class="phone-title">Бесплатно по России</div>
					</div>
					<div class="callback-wrap">
						<a href="" class="btn-callback js-btn-popup-open" data-src="#popup-callback" data-fancybox>Заказать звонок</a>
						<div class="shedule-title">Пн-Пт: 09:00—18:00</div>
					</div>
				</div>
			</div>
			<div class="menu-wrap">
				<ul>
					<li>
						<a href="" class="menu-title">Покупателям</a>
						<ul>
							<li><a href="">Доставка и оплата</a></li>
							<li><a href="">Бренды</a></li>
							<li><a href="">FAQ</a></li>
							<li><a href="">Блог</a></li>
							<li><a href="">Сертификаты</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="menu-title">О нас</a>
						<ul>
							<li><a href="">О нас</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="menu-title">Личный кабинет</a>
						<ul>
							<li><a href="">Мои заказы</a></li>
							<li><a href="">Мой профиль</a></li>
							<li><a href="">Вход</a></li>
							<li><a href="">Регистрация</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="copy-wrap">© 2021 teamfishing.ru</div>
			<div class="soc-wrap">
				<div class="soc-title">Вступайте в нашу группу</div>
				<div class="soc-button">
					<a href="" class="btn-action-ico button-soc soc-vk">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
				</div>
				<div class="soc-link">
					<a href="">Подписаться на новости</a>
				</div>
			</div>
			<div class="pays-wrap">
				<img src="./img/icons/pay01.svg" alt="">
				<img src="./img/icons/pay02.svg" alt="">
				<img src="./img/icons/pay03.svg" alt="">
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<!--footer-fixed-panel-->
<div class="footer-fixed-panel cnt-section">
	<div class="inner-wrap">
		<div class="action-wrap">
			<a href="" class="btn-action-footer active js-btn-popup-open" data-fancybox data-src="#popup-login">
				<span class="btn-action-ico ico-footer-user"></span>
				<span class="button-title">Вход</span>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action-footer">
				<span class="btn-action-ico ico-footer-fav">
					<span class="button-count">0</span>
				</span>
				<span class="button-title">Избранное</span>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action-footer">
				<span class="btn-action-ico ico-footer-compare">
					<span class="button-count">0</span>
				</span>
				<span class="button-title">Сравнение</span>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action-footer">
				<span class="btn-action-ico ico-footer-views">
					<span class="button-count">0</span>
				</span>
				<span class="button-title">Просмотренные</span>
			</a>
		</div>
	</div>
</div><!--/footer-fixed-panel-->


<div id="popup-login" class="popup-box" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title-tabs js-tabs-nav">
			<ul>
				<li><a href="" class="popup-title active" data-tab="popup-login">Вход</a></li>
				<li><a href="" class="popup-title" data-tab="popup-reg">Регистрация</a></li>
			</ul>
		</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup js-tab-block" data-tab="popup-login">
			<div class="frm-row row-column">
				<div class="frm-field">
					<label>Email</label>
					<input type="email" class="form-input" placeholder="email@mail.ru">
				</div>
				<div class="frm-field">
					<label>Пароль</label>
					<input type="password" class="form-input" placeholder="">
					<div class="field-link">
						<a href="">Забыли пароль?</a>
					</div>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="frm-field">
					<input type="submit" value="Войти">
				</div>
			</div>
		</form>
		<form action="/" class="frm-popup js-tab-block" data-tab="popup-reg">
			<div class="frm-row">
				<div class="frm-field">
					<label>Имя</label>
					<input type="text" class="form-input" placeholder="">
				</div>
				<div class="frm-field">
					<label>Фамилия</label>
					<input type="text" class="form-input" placeholder="">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<label>Мобильный телефон</label>
					<input type="tel" class="form-input" placeholder="">
				</div>
				<div class="frm-field">
					<label> Email</label>
					<input type="email" class="form-input" placeholder="">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-full">Регистрируясь на сайте, вы принимаете <a href="">политику конфиденциальности </a></div>
			</div>
			<div class="frm-row-submit">
				<div class="frm-field">
					<input type="submit" value="Зарегистрироваться">
				</div>
			</div>
		</form>
	</div>
</div>
<div id="popup-cart" class="popup-box popup-cart" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title">Корзина</div>
	</div>
	<div class="popup-content-wrap">
		<div class="popup-cart-box">
			<div class="items-wrap">
				<!--item wrap-->
				<div class="item-wrap">
					<div class="item-cart-popup">
						<div class="cart-photo-wrap">
							<a href="" class="cart-photo">
								<img src="./img/cart-popup01.jpg" alt="">
							</a>
						</div>
						<div class="cart-info-wrap">
							<div class="cart-info">Артикул: 007769 </div>
							<div class="cart-title"><a href="">Термос Арктика 102-1000 синий 1 л.</a></div>
						</div>
						<div class="cart-actions-wrap">
							<div class="cart-price-wrap">
								<div class="elm-price">1 500 <span class="price-unit">₽</span></div>
							</div>
							<div class="cart-counter-wrap">
								<div class="frm-counter">
									<a href="" class="btn-action-ico ico-plus"></a>
									<a href="" class="btn-action-ico ico-minus"></a>
									<input type="text" class="form-input" value="2">
								</div>
							</div>
							<div class="cart-price-wrap price-total">
								<div class="elm-price">1 500 <span class="price-unit">₽</span></div>
							</div>
						</div>
						<a href="" class="btn-action-ico ico-trash"></a>
					</div>
				</div>
				<!--/item wrap-->
				<!--item wrap-->
				<div class="item-wrap">
					<div class="item-cart-popup">
						<div class="cart-photo-wrap">
							<a href="" class="cart-photo">
								<img src="./img/cart-popup02.jpg" alt="">
							</a>
						</div>
						<div class="cart-info-wrap">
							<div class="cart-info">0.1 mm / 5.4 kg  </div>
							<div class="cart-title"><a href="">Шнур Power Phantom PE4 135м желтый fluo </a></div>
						</div>
						<div class="cart-actions-wrap">
							<div class="cart-price-wrap">
								<div class="elm-price price-old">593 <span class="price-unit">₽</span></div>
								<div class="elm-price">532 <span class="price-unit">₽</span></div>
							</div>
							<div class="cart-counter-wrap">
								<div class="frm-counter">
									<a href="" class="btn-action-ico ico-plus"></a>
									<a href="" class="btn-action-ico ico-minus button-disabled"></a>
									<input type="text" class="form-input" value="1">
								</div>
							</div>
							<div class="cart-price-wrap price-total">
								<div class="elm-price">1 500 <span class="price-unit">₽</span></div>
							</div>
						</div>
						<a href="" class="btn-action-ico ico-trash"></a>
					</div>
				</div>
				<!--/item wrap-->
			</div>
			<div class="total-wrap">
				<div class="total-title">Всего:</div>
				<div class="total-value">
					<div class="elm-price">3 532 <div class="price-unit">₽</div></div>
				</div>
			</div>
			<div class="actions-wrap">
				<div class="action-wrap">
					<a href="" class="btn-action-nav nav-back">
						<span class="button-title">Продолжить покупки</span>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn">Оформить заказ</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="popup-callback" class="popup-box popup-callback" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title">Заказать обратный звонок</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<label>Ваше имя</label>
					<input type="text" class="form-input" placeholder="">
				</div>
				<div class="frm-field">
					<label>Телефон</label>
					<input type="tel" class="form-input" placeholder="">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-full">
					<label>Комментарий</label>
					<textarea placeholder="Текс комментария"></textarea>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="frm-field">
					<input type="submit" value="Отправить">
				</div>
			</div>
		</form>
	</div>
</div>
<div id="popup-location" class="popup-box popup-location" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title">Выберите город</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field field-full">
					<input type="text" placeholder="Введите название города">
				</div>
			</div>
		</form>
		<div class="popup-list-box">
			<ul>
				<li><a href="">Москва</a></li>
				<li><a href="">Санкт-Петербург</a></li>
				<li><a href="">Магнитогорск</a></li>
				<li><a href="">Челябинск</a></li>
				<li><a href="">Екатеринбург</a></li>
				<li><a href="">Ростов</a></li>
			</ul>
		</div>
	</div>
</div>



<div id="popup-review" class="popup-box popup-review" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title">Отзыв о товаре</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field field-full">
					<label>Оцените товар</label>
					<div class="frm-rate-set">
						<input type="radio" name="rate-set" id="rate-set01">
						<input type="radio" name="rate-set" id="rate-set02">
						<input type="radio" name="rate-set" id="rate-set03">
						<input type="radio" name="rate-set" id="rate-set04">
						<input type="radio" name="rate-set" id="rate-set05">
						<label for="rate-set01" class="frm-rate"></label>
						<label for="rate-set02" class="frm-rate"></label>
						<label for="rate-set03" class="frm-rate"></label>
						<label for="rate-set04" class="frm-rate"></label>
						<label for="rate-set05" class="frm-rate"></label>
					</div>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-full">
					<input type="text" class="form-input-row" placeholder="Достоинства">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-full">
					<input type="text" class="form-input-row" placeholder="Недостатки">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-full">
					<label>Комментарий</label>
					<a href="" class="btn-action-ico ico-media"></a>
					<textarea placeholder="" class="form-input-row"></textarea>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-full">
					<div class="frm-select">
						<input type="checkbox" id="rv">
						<label for="rv">Рекомендую продукт</label>
					</div>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-full">
					<label>Чтобы опубликовать отзыв, войдите через социальную сеть</label>
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc-main">
							<img src="./img/icons/soc01.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc-main">
							<img src="./img/icons/soc02.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc-main">
							<img src="./img/icons/soc03.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>